.signup-btn{
    margin-left:10px;
    background-color:#E94339;
    border:0;
    font-weight:600;
}

.nav-item .nav-link{
    font-weight:600;
    color:#000;
}

.login-btn {
    font-weight: 600;
}

.intro-head{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 106.557% */
}

.intro-p{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.18px;
}

.order-input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.man-container{
    width: 570px;
    height: 478px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #F2EBDA;
}

.dish-head{
    color: #191720;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 126.087% */
    letter-spacing: -0.46px;
    text-transform: capitalize;
}

.dish-p{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.18px;
}

.dishes-container{
    width: 108px;
    height: 108px;
    background-color:#FFF;
}

.dish-p-2{
    color: #191720;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
}

.card-height{
    height: 250px;
}

.emojo{
    color: #191720;
    text-align: center;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 58.75px; /* 125% */
}

.orderi{
    width: 214px;
    height: 303px;
}

.dish-p-2{
    color: #191720;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
}

.arrowb{
    width: 96px;
    height: 36px;
    flex-shrink: 0;     
}

/* .subscribe{
    display: flex;
    width: 1190px;
    padding:80px;;
} */

.cardStyle {
    background-color:rgb(108, 41, 62) !important;
}

.liste{
    color:rgb(255, 255, 255);
}

.download-icon{
    width:auto;
    height: 40px;
}

@media only screen and (max-width: 600px){
    .intro-head{
        font-size: 36px;
        line-height: 30px;
    }
    .man-container{
        width: auto;
        height: 300px;
        position: relative;
    }
    .delivery-image{
        position:absolute;
        width: auto;
        height:280px;
    }
    .dish-head{
        font-size: 32px;
        line-height: 40px;
    }
    .card-height{
        height: 270px;
    }

}
.circle{
    background-color: rgb(238, 232, 191);
    height:70px;
    width:70px;
    border-radius: 50%;
    position: absolute;
}

.circle2{
    background-color: rgb(238, 232, 191);
    height:70px;
    width:70px;
    border-radius: 50%;
    position: absolute;
}

.square{
    height:70px;
    width:70px;
    background-color: rgb(56, 21, 21);
}

.square2{
    height:70px;
    width:70px;
    background-color: rgb(56, 21, 21);
}