.signup-btn{
    margin-left:10px;
    background-color:#E94339;
    border:0;
    font-weight:600;
}

.nav-item .nav-link{
    font-weight:600;
    color:#000;
}

.login-btn {
    font-weight: 600;
}

.intro-head{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 106.557% */
}

.intro-p{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.18px;
}

.order-input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.man-container{
    width: 570px;
    height: 478px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #F2EBDA;
}

.dish-head{
    color: #191720;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 126.087% */
    letter-spacing: -0.46px;
    text-transform: capitalize;
}

.dish-p{
    color: var(--Dark, #191720);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.18px;
}

.dishes-container{
    width: 108px;
    height: 108px;
    flex-shrink: 0;
    background-color:#FFF;
}

.dish-p-2{
    color: #191720;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    letter-spacing: -0.24px;
}

.card-height{
    height: 220px;
}